<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../../imgs/myLogo.svg" />
    <link rel="stylesheet" href="./index.css" />
    <title id="title">Tribute Page</title>
  </head>
  <body>
    <div class="frame">
      <h1>Dr. Norman Borlaug</h1>
      <p class="p">The man who saved a billion lives</p>

      <main id="main">
        <figure id="img-div">
          <img
            id="image"
            src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute-page-main-image.jpg"
            alt="IMG"
          />
          <figcaption id="img-caption">
            Dr. Norman Borlaug, third from the left, trains biologists in Mexico
            on how to increase wheat yields - part of his life-long war on
            hunger.
          </figcaption>
        </figure>
        <h3>Here's a time line of Dr. Borlaug's life:</h3>
        <p class="p" id="tribute-info">
          If you have time, you should read more about this incredible human
          being on his
          <a
            id="tribute-link"
            target="_blank"
            href="https://tribute-page.freecodecamp.rocks/"
            >Wikipedia entry</a
          >.
        </p>
      </main>
    </div>
  </body>
</html>
