:root {
  --background: black;
  --font: #f7f7f7;
  --code-bg: hsla(360, 100%, 100%, 0.13);
}

/* :root{
--background: white;
--font: black;
--code-bg: #f7f7f7;
  } */

*,
html {
  scroll-behavior: smooth !important;
}

body {
  min-width: 290px;
  color: var(--font);
  background-color: var(--background);
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  width: 300px;
  min-width: 290px;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: solid;
  border-color: var(--font);
}

#navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#navbar li {
  color: var(--font);
  border: 1px solid var(--font);
  margin: 10px auto;
  padding: 5px;
  max-width: 270px;
  display: block;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 var(--background), 4px 4px 0 0 var(--font);
  transition: 200ms;
}

#navbar li:hover {
  box-shadow: 3px 3px 0 0 var(--background), 6px 6px 0 0 var(--font);
  transform: translate(-2px, -2px);
  background-color: var(--font);
  color: var(--background);
}

#navbar a {
  text-decoration: none;
  display: block;
  padding: 10px 10px;
  color: var(--font);
  cursor: pointer;
}

#navbar a:hover {
  color: var(--background);
}

#navbar h1 {
  margin: 30px;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: var(--code-bg);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 815px) {
  #navbar {
    background-color: var(--background);
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 500px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 500px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--code-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--font);
}
