<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <script type="module" src="index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h3>JavaScript Code Generator</h3>
      <div class="content">
        <div class="quote">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum non
          ratione, fugit exercitationem recusandae est modi cupiditate
          voluptates
        </div>
        <div class="name">Name</div>
        <button class="btn">New Quote</button>
      </div>
    </div>
  </body>
</html>
