<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../../imgs/myLogo.svg" />
    <link rel="stylesheet" href="./index.css" />
    <script type="module" src="./index.js"></script>
    <title id="title">Personal Portfolio WebPage</title>
  </head>
  <body>
    <navbar id="navbar">
      <a href="#welcome-section">Sahan</a>
      <ol>
        <li><a href="#welcome-section">About</a></li>
        <li><a href="#projects">Work</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ol>
    </navbar>
    <main>
      <section id="welcome-section">
        <h1>Hey I am Sahan</h1>
        <p><i>a web developer</i></p>
      </section>
      <section id="projects">
        <h1 class="projects-title">These are some of my projects</h1>
        <div class="grid" id="project-container">
          <!-- <a href="#" id="profile-link" target="_blank" class="project-tile"
            ><img
              class="project-image"
              src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg"
              alt="Project Image"
            />
            <p class="project_title">
              <span class="code"> &lt; </span>
              Tribute Page
              <span class="code"> /> </span>
            </p>
          </a>
          <a href="#" id="profile-link" target="_blank" class="project-tile"
            ><img
              class="project-image"
              src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg"
              alt="Project Image"
            />
            <p class="project_title">
              <span class="code"> &lt; </span>
              Tribute Page
              <span class="code"> /> </span>
            </p>
          </a>
          <a href="#" id="profile-link" target="_blank" class="project-tile"
            ><img
              class="project-image"
              src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg"
              alt="Project Image"
            />
            <p class="project_title">
              <span class="code"> &lt; </span>
              Tribute Page
              <span class="code"> /> </span>
            </p>
          </a>
          <a href="#" id="profile-link" target="_blank" class="project-tile"
            ><img
              class="project-image"
              src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg"
              alt="Project Image"
            />
            <p class="project_title">
              <span class="code"> &lt; </span>
              Tribute Page
              <span class="code"> /> </span>
            </p>
          </a>
          <a href="#" id="profile-link" target="_blank" class="project-tile"
            ><img
              class="project-image"
              src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg"
              alt="Project Image"
            />
            <p class="project_title">
              <span class="code"> &lt; </span>
              Tribute Page
              <span class="code"> /> </span>
            </p>
          </a>
          <a href="#" id="profile-link" target="_blank" class="project-tile"
            ><img
              class="project-image"
              src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg"
              alt="Project Image"
            />
            <p class="project_title">
              <span class="code"> &lt; </span>
              Tribute Page
              <span class="code"> /> </span>
            </p>
          </a> -->
        </div>
        <template id="project">
          <a
            href=""
            target="_blank"
            id="profile-link"
            class="project-card project-tile"
            ><img src="" alt="Project Image" class="project-img project-image" />
            <div class="flex">
              <span class="code"> &lt; </span>
              <p class="project-name"></p>
              <span class="code"> /> </span>
            </div>
          </a>
        </template>
      </section>
      <section id="Contact">
        <h1>Let's work together...</h1>
        <p><i>How do you take your coffee?</i></p>
      </section>
    </main>
    <footer>© Created for freeCodeCamp</footer>
  </body>
</html>
